<main class="flex flex-col h-screen bg-gray-800 text-gray-50">
  <header class="h-14 px-4 py-3 border-b bg-gray-900 border-gray-700">
    Core
  </header>
  <div class="grow">
    <%= @inner_content %>
  </div>
  <footer class="relative h-14 border-t bg-gray-900 border-gray-700">
    <div class="absolute flex gap-3 top-3 right-3 bottom-3">
      <.flash_group flash={@flash} />
    </div>
  </footer>
</main>
